:root {
    --center-left: calc(50% - 600px);
    --center-right: calc(50% - 600px);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: rgba(244, 245, 246, 1);
}