.header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    padding-left: var(--center-left);
    padding-right: var(--center-right);
}

.menu__list {
    display: flex;
    gap: 58px;
}

.menu__item {
    list-style: none;
}

.menu__link {
    color: #000;
    text-decoration: none;
}

.active {
    font-weight: 600;
    border-bottom: 1px solid #7334ea;
    color: #7334ea;
}

.exit {
    cursor: pointer;
}

.exit__text {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    color: #000;
}

.exit__text:hover {
    color: #7334ea;
}

/* Мобильная версия */
@media (max-width: 768px) {
    .header {
        height: 64px;
        background: rgba(244, 245, 246, 1);
        padding-left: 16px;
        padding-right: 16px;
    }
}

.user__email {
    font-size: 12px;
    color: #666;
    margin-right: 12px;
}

.exit {
    display: flex;
    align-items: center;
}

.exit__text {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    color: #000;
}

.exit__text:hover {
    color: #7334ea;
}
